    {% load staticfiles %}
    <link href="{% static 'mutech/footer.css'%}" rel="stylesheet" type="text/css">
   <!-- <nav class="navbar navbar-default navbar-fixed-bottom row"> -->
   <style type="text/css">
        a, a:hover, a:focus, a:active, a.active {
        color: #AEAEAE;}

        @media screen and (max-width: 1290px) {
            img{width:100px;}
        }  
        .label-default{
        background-color: #2C3E50;
        }  
   </style>     
    
    
 
<!-- // -->
    
    <div class="row" style="background-color:#2C3E50;">
        <div class="col-md-4"><center>
        <h4 style="color:white;"> <span class="label label-default">Visit counter</span></h4>
            <!-- hitwebcounter Code START -->
            <a href="#"><br>
            <img src="http://hitwebcounter.com/counter/counter.php?page=6031565&style=0005&nbdigits=5&type=page&initCount=1000" title="Visitors count" Alt="No of Visitors"   border="0" class="img-responsive" >
            </a><br/>
            <!-- hitwebcounter.com -->
            <a href="http://www.hitwebcounter.com/" title="Web Counter Hits" 
            target="_blank" style="font-family: Arial, Helvetica, sans-serif; 
            font-size: 10px; color: #6E6A68; text-decoration: none ;">
            <em>Web Counter Hits</em>
            </a>  
            </center> 
        </div>
        <div  class="col-md-4"><center>
            <h4 style="color:white;"> <span class="label label-default">Around the Web</span></h4>
            <br />
            <a href="https://www.facebook.com/shiv.dangi.52" target="_blank"><i id="social" class="fa fa-facebook-square fa-3x social-fb"></i></a>
            <a href="https://twitter.com/bootsnipp" target="_blank"><i id="social" class="fa fa-twitter-square fa-3x social-tw"></i></a>
            <a href="https://plus.google.com/+Bootsnipp-page" target="_blank"><i id="social" class="fa fa-google-plus-square fa-3x social-gp"></i></a>
            <a href="mailto:bootsnipp@gmail.com" target="_blank"><i id="social" class="fa fa-envelope-square fa-3x social-em"></i></a>
            <a href="mailto:bootsnipp@gmail.com" target="_blank"><i id="social" class="fa fa-linkedin-square fa-3x social-li"></i></a></center>
        </div>
        <div class="col-md-4"><center>
            <h4 style="color:white;"> <span class="label label-default">About Developers</span></h4><br>
            <h5 style="color:white;text-transform: capitalize;" > <span class="label label-default" style=" font-size: 85%;">
                Rahul satal<br>
                Shivshankar Pindoriya<br>
            </span></h5>
            </center>
        </div>
    </div>
    

    