{% load staticfiles %}

    <div class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><span>Mu</span>Tech Robotics</a>
            </div>
            <div class="navbar-collapse collapse ">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="/mutech/aboutus/">About us</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle " data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">projects <b class=" icon-angle-down"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/mutech/student_project/">Student Projects</a></li>
                            <li><a href="/mutech/industrial_project/">Industrial Projects</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle " data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">services <b class=" icon-angle-down"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/mutech/training/">Training</a></li>
                            <li><a href="/mutech/workshop/">Workshop</a></li>
                        </ul>
                    </li>
                    <li><a href="/mutech/contact/">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </div>
