{% load staticfiles %}
<link href="{% static 'bootstrap_template/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'bootstrap_template/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
<link href="{% static 'bootstrap_template/css/freelancer.css' %}" rel="stylesheet">
<link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
<style>
    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{color:#BA2020;}
</style>


<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Mutech</title>

</head>

<body  class="index">

    <nav class="navbar navbar-default navbar-fixed-top row">
        <div class="container col-sm-5 " style="display:inline; padding-left:2% ">
            <img id="right" style="display:inline;" src="{% static 'mutech/images/mutech.jpg' %}" alt="My logo" width="10%"  height="10%"  title="Institute logo";/>&nbsp;&nbsp;&nbsp;
            <!--<img  class="img-circle" src="{% static 'mutech/images/mutech_logo.jpg' %}" alt="My image" width="6%"  height="4%" ;/>-->
            <a id="right" class="" href="#page-top" style="text-decoration:none;"><h1 style="display:inline; color:#AEAEAE; padding-top:20px;">Mu-tech Robotics</h1></a>
        </div>
        <div class="collapse navbar-collapse col-sm-7 " id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li class="page-scroll">
                    <a href="#portfolio">Home</a>
                </li>
                <li class="page-scroll">
                    <a href="#about">About us</a>
                </li>
                <li class="page-scroll">
                    <a href="#about">Projects</a>
                </li>
                <li class="page-scroll">
                    <a href="#contact">Training </a>
                </li>
                <li class="page-scroll">
                    <a href="#about">products</a>
                </li>
                <li class="page-scroll">
                    <a href="#contact">Contact us</a>
                </li>
            </ul>
        </div>  
    </nav>
