{% load staticfiles %}
<!DOCTYPE html>

<html lang="en">
<head>
<meta charset="utf-8">
<title>Mutech-Robotics</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
<meta name="author" content="http://bootstraptaste.com" />
<!-- css -->
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
<link href="{% static 'css/fancybox/jquery.fancybox.css' %}" rel="stylesheet">
<!--<link href="{% static 'css/jcarousel.css' %}" rel="stylesheet" />-->
<link href="{% static 'css/flexslider.css' %}" rel="stylesheet" />
<link href="{% static 'css/style.css' %}" rel="stylesheet" />


<!-- Theme skin -->
<link href="{% static 'skins/default.css' %}" rel="stylesheet" />

<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body>
    <div id="wrapper">
        <header>{% include "mutech/header.html" %}</header>

        <!--==========================================================================================  -->
        <!--==========================================================================================  -->

        <section id="featured">
        <!-- start slider -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Slider -->
                    {% if slider_list %}
                    {% for q in slider_list %}
                    <div id="main-slider" class="flexslider">
                        <ul class="slides">
                            <li>
                                <img src="../../../media/{{q.slider_image1}}" alt="" />
                                <div class="flex-caption">
                                    <h3>Modern Design</h3> 
                                    <p> {{q.image1_quote}} </p> 
                                </div>
                            </li>
                            <li>
                                <img src="../../../media/{{q.slider_image2}}" alt="" />
                                <div class="flex-caption">
                                    <h3>Fully Responsive</h3> 
                                    <p>{{q.image2_quote}}</p> 
                                </div>
                            </li>
                            <li>
                                <img src="../../../media/{{q.slider_image3}}" alt="" />
                                <div class="flex-caption">
                                    <h3>Clean & Fast</h3> 
                                    <p>{{q.image3_quote}}</p> 
                                </div>
                            </li>
                            <li>
                                <img src="../../../media/{{q.slider_image4}}" alt="" />
                                <div class="flex-caption">
                                    <h3>Clean & Fast</h3> 
                                    <p>{{q.image4_quote}}</p> 
                                </div>
                            </li>
                        </ul>
                    </div>
                    {% endfor %}
                    {% endif %} 
                    <!-- end slider -->
                </div>
            </div>
        </div>
        </section>

    <!--==========================================================================================  -->
    <!--==========================================================================================  -->
        <section class="callaction">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="big-cta">
                        <div class="cta-text">
                            <h2><span>What</span> We offer </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </section>
        <!--==========================================================================================  -->
        <!--==========================================================================================  -->

        <section id="content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        {% if quote_list %}
                        {% for q in quote_list %}
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="box">
                                    <div class="box-gray aligncenter">
                                        <h4>Student Project</h4>
                                        <div class="icon">
                                            <i class="fa fa-desktop fa-3x"></i>
                                        </div>
                                        <p> {{q.studentproject_quote}} </p>
                                    </div>
                                    <div class="box-bottom">
                                        <a href="/mutech/student_project/">Learn more</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="box">
                                    <div class="box-gray aligncenter">
                                        <h4>Industrial Project</h4>
                                        <div class="icon">
                                            <i class="fa fa-pagelines fa-3x"></i>
                                        </div>
                                        <p> {{q.industrialproject_quote}} </p>
                                    </div>
                                    <div class="box-bottom">
                                        <a href="/mutech/industrial_project/">Learn more</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="box">
                                    <div class="box-gray aligncenter">
                                        <h4>Trainings</h4>
                                        <div class="icon">
                                        <i class="fa fa-edit fa-3x"></i>
                                        </div>
                                        <p> {{q.training_quote}} </p>     
                                    </div>
                                    <div class="box-bottom">
                                        <a href="/mutech/training/">Learn more</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="box">
                                    <div class="box-gray aligncenter">
                                        <h4>Workshops</h4>
                                        <div class="icon">
                                        <i class="fa fa-code fa-3x"></i>
                                        </div>
                                        <p> {{q.workshop_quote}} </p>
                                    </div>
                                    <div class="box-bottom">
                                        <a href="/mutech/workshop/">Learn more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    {% endif %} 
                    </div>
                </div>
                <!-- divider -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="solidline">
                        </div>
                    </div>
                </div>
                <!-- end divider -->
                <section class="callaction">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="big-cta">
                                    <div class="cta-text">
                                        <h2><span>Our</span> Popular Project </h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Portfolio Projects -->
                <div class="row">
                    <div class="col-lg-12">
                        <h4 class="heading">   </h4>
                        <div class="row">
                            <section id="projects">
                                {% if recent_project %}
                                {% for q in recent_project %}
                                <ul id="thumbs" class="portfolio">
                                <!-- Item Project and Filter Name -->
                                    <li class="col-lg-3 design" data-id="id-0" data-type="web">
                                    <div class="item-thumbs">
                                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                        <a class="hover-wrap" href="/mutech/industrial_project/">
                                            <span class="overlay-img"></span>
                                            <span class="overlay-img-thumb font-icon-plus"></span>
                                        </a>
                                    <!-- Thumb Image and Description -->
                                        <img src="../../../media/{{q.project_image}}" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis.">
                                        <div class="box-bottom">
                                            <a href="#">{{q.project_title}}</a>
                                        </div>
                                    </div>
                                    </li>
                                    <!-- End Item Project -->
                                </ul>
                                {% endfor %}
                                {% endif %}
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </section>
<!--==========================================================================================  -->
<!--==========================================================================================  -->
        <footer>{% include "mutech/footer.html" %}</footer>
    </div>


<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
<!-- javascript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.fancybox.pack.js' %}"></script>
<script src="{% static 'js/jquery.fancybox-media.js' %}"></script>
<script src="{% static 'js/google-code-prettify/prettify.js' %}"></script>
<script src="{% static 'js/portfolio/jquery.quicksand.js' %}"></script>
<script src="{% static 'js/portfolio/setting.js' %}"></script>
<script src="{% static 'js/jquery.flexslider.js' %}"></script>
<script src="{% static 'js/animate.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
</body>
</html>
