{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Products</title>
    <div>{% include "mutech/header.html" %}</div>
    <link href="{%static 'mutech/modern-business.css' %}" rel="stylesheet">
</head>
<body>
	<div class="midDiv">
    <!--
    {% for q in product_qlist %}
    <img  src="../../media/{{ q.product_image }}" alt="Error"/>
    {% endfor %}
     Page Content -->
    
    <div class="container">
    	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        {% if product_qlist %}
            {% for q in product_qlist %}
                 <div class="col-md-4 img-portfolio">
                <a data-toggle="modal" href="#myModal1">
                <img class="img-responsive img-hover" src="../../../media/{{q.product_image}}" alt="Error" height="200px" width="200px" />    
                    <h3>
                        {{ q.product_title }}
                    </h3>
                </a>
                
                <p> {{ q.product_image }}
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
            {% endfor %}
        {% endif %}
<!--


        {% if product_qlist %}
            {{ product_qlist.id }}
        {% endif %}
    
        {% for q in product_qlist %}
        <div class="row">
            <div class="col-md-4 img-portfolio">
                <a data-toggle="modal" href="#myModal1">
                    <img class="img-responsive img-hover" src="http://placehold.it/700x40" alt="">
                	<h3>
                    	{{ q }}
                	</h3>
                </a>
                <p>{{ q.product_desc }}</p>
            </div>
            <div class="col-md-4 img-portfolio">
                <a data-toggle="modal" href="#myModal1">
                    <img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">
                	<h3>
                    	Project Name
                	</h3>
                </a>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
            <div class="col-md-4 img-portfolio">
                <a data-toggle="modal" href="#myModal1">
                    <img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">
                	<h3>
                    	Project Name
                	</h3>
                </a>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
        </div>
        {% endfor %}
    

        
        <div class="row">
            <div class="col-md-4 img-portfolio">
                <a data-toggle="modal" href="#myModal1">
                    <img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">
                	<h3>
                    	Project Name
                	</h3>
                </a>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
            <div class="col-md-4 img-portfolio">
                <a data-toggle="modal" href="#myModal1">
                    <img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">
                	<h3>
                    	Project Name
                	</h3>
                </a>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
            <div class="col-md-4 img-portfolio">
                <a data-toggle="modal" href="#myModal1">
                    <img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">
                	<h3>
                    	Project Name
                	</h3>
                </a>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
        </div>
        

        
        <div class="row">
            <div class="col-md-4 img-portfolio">
                <a data-toggle="modal" href="#myModal1">
                    <img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">
                	<h3>
                    	Project Name
                	</h3>
                </a>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
            <div class="col-md-4 img-portfolio">
                <a data-toggle="modal" href="#myModal1">
                    <img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">
                	<h3>
                    	Project Name
                	</h3>
                </a>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
            <div class="col-md-4 img-portfolio">
                <a data-toggle="modal" href="#myModal1">
                    <img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">
                	<h3>
                    	Project Name
                	</h3>
                </a>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
        </div>
        -->

        <hr>

        <!-- Pagination -->
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li>
                        <a href="#">&laquo;</a>
                    </li>
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>
                    <li>
                        <a href="#">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.row -->
	</div>
    <!-- /.container -->
</div>

<!-- Modal -->
  <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 class="modal-title">Product Name</h3>
        </div>
        <div class="modal-body" style="display:block">
          	<div>
                <img class="img-responsive" src="http://placehold.it/750x450" alt="">
            </div>
            <div>
            	<hr/>
                <h4>Description</h4>
                <hr/>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed voluptate nihil eum consectetur similique? Consectetur, quod, incidunt, harum nisi dolores delectus reprehenderit voluptatem perferendis dicta dolorem non blanditiis ex fugiat.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, magni, aperiam vitae illum voluptatum aut sequi impedit non velit ab ea pariatur sint quidem corporis eveniet. Odit, temporibus reprehenderit dolorum!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, consequuntur, modi mollitia corporis ipsa voluptate corrupti eum ratione ex ea praesentium quibusdam? Aut, in eum facere corrupti necessitatibus perspiciatis quis?</p>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->


<div>{% include "mutech/footer.html" %}</div>
</body>
</html>