{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Products</title>
    <div>{% include "mutech/header.html" %}</div>
    <link href="{%static 'mutech/modern-business.css' %}" rel="stylesheet">
</head>
<body>
	<div class="midDiv">
    <div class="container">
    	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        {% if product_list %}
            {% for q in product_list %}
            
            <div class="col-md-4" style="border:1px solid blak;height:250px">
                <a data-toggle="modal" href="#{{ q.product_title }}">
                <img class="img-responsive img-hover" src="../../../media/{{q.product_image}}" alt="Error" style="height:70%; width:100%" /></a><br>
                    <center><p>{{ q.product_title }}</p></center><br>
            </div>
            {% endfor %}
           
                
        
        <hr>
        <!-- Pagination -->
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li>
                        <a href="#">&laquo;</a>
                    </li>
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>
                    <li>
                        <a href="#">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
        {% else %}
        <center><h1>No Product found </h1></center>  
        {% endif %}
        <!-- /.row -->
	</div>
    <!-- /.container -->
    
</div><!-- midDiv ends -->



<!-- Modal -->
{% if product_list %}
            {% for q in product_list %}
  <div class="modal fade col-md-12 col-sm-6 " id="{{ q.product_title }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 class="modal-title">{{ q.product_title }}</h3>
        </div>
        <div class="modal-body" style="display:block">
            <div>
                <img class="img-responsive" src="../../../media/{{q.product_image}}" alt="">
            </div>
            <div>
                <hr/>
                <h4>Description</h4>
                <hr/>
                <p>{{ q.product_desc }}</p>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>
  {% endfor %} 
        {% endif %}
        
  
           
  <!-- /.modal -->


<div>{% include "mutech/footer.html" %}</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript">
alert("Hello");
    console.log("yes");
    $(document).ready(function(){
        var a = document.getElementById('vertical_nav').getElementsByTagName('a');
        for(i = 0; i<10; i++)
            alert(a[i]);
        
       })
        
</script>                                                                                       


</body>
</html>