{% load staticfiles %}<!-- project.objects.filter(project_branch=3)
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Projects</title>
    <div>{% include "mutech/header.html" %}</div>
    <link href="{% static 'mutech/css/project_dropdown_menu2.css' %}" rel="stylesheet">
    <link href="{% static 'mutech/css/project_dropdown_menu1.css' %}" rel="stylesheet">
	<style type="text/css">
  .sidebar ul li {
    border-bottom: 1px solid #e7e7e7;
    border-right: 1px solid #e7e7e7;
    width: 
}
		 .slidebar_a, .slidebar_a:hover, .slidebar_a:focus, .slidebar_a:active, .slidebar_a:active 
		 	{
		    background-color: white ;
 		    color:#337AB7;
		  	}
		 #project_dropdown_col
		 	{
		    background-color:white;
		  	}	 
		.midDiv_project
		  	{
			min-height:580px;
			padding-top:  8.2%;
			}
	</style>
</head>	
<body>

    <div id="wrapper" class="midDiv_project">

        <!-- Navigation -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
            <div class="row" style="background-color:#AEAEAE;">
              <div class="col-md-3" style="background-color:hsl(0, 0%, 97%);min-height:580px;margin-lef:-100px;width:21%;border-right: 1px solid #e7e7e7;">
                  <div class="navbar-default sidebar" role="navigation" >
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li>
                        <a href="index.html" class="slidebar_a"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                    </li>
                        {% if branch_list %}
            {% for q in branch_list %}

            <li>
                <a href="tables.html" class="slidebar_a"><i class="fa fa-table fa-fw"></i> {{ q.branch_title }}</a>
                    </li>
                    <!--
{{ comment }}
{% if project_list %}
            {% for q in project_list %}
            <div class="col-md-4" style="width:25%;">
                      <a href="#myModal1" title="Image 1" data-toggle="modal"><img src="//placehold.it/600x350" class="thumbnail img-responsive"></a>
                    </div>
              <h1>{{ q.project_title }}</h1><p>{{ q.sub_branch}}</p>

           {% endfor %}
           {% else %}
           <center><h1>No Project Found</h1></center>
        {% endif %}   


{{ endcomment }}-->

           {% endfor %}
        {% endif %}   



                    <li>
                        <a href="#" class="slidebar_a"><i class="fa fa-bar-chart-o fa-fw"></i> Charts<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="flot.html" class="slidebar_a">Flot Charts</a>
                            </li>
                            <li>
                                <a href="morris.html" class="slidebar_a">Morris.js Charts</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="tables.html" class="slidebar_a"><i class="fa fa-table fa-fw"></i> Tables</a>
                    </li>
                    <li>
                        <a href="forms.html" class="slidebar_a"><i class="fa fa-edit fa-fw"></i> Forms</a>
                    </li>
                    <li>
                        <a href="#" class="slidebar_a"><i class="fa fa-wrench fa-fw"></i> UI Elements<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="panels-wells.html" class="slidebar_a">Panels and Wells</a>
                            </li>
                            <li>
                                <a href="buttons.html" class="slidebar_a">Buttons</a>
                            </li>
                            <li>
                                <a href="notifications.html" class="slidebar_a">Notifications</a>
                            </li>
                            <li>
                                <a href="typography.html" class="slidebar_a"> Typography</a>
                            </li>
                            <li>
                                <a href="icons.html" class="slidebar_a"> Icons</a>
                            </li>
                            <li>
                                <a href="grid.html" class="slidebar_a">Grid</a>
                            </li>

                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                </ul>
            </div>
                <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->

              </div>
                <div class="col-md-9" >
                    <div>{% include "mutech/show_project.html" %}</div>
                </div>
            </div>
        </div>
        <!-- /#page-wrapper -->

         <!-- jQuery -->
    <script src="{% static 'mutech/js/jquery.min.js' %}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'mutech/js/bootstrap.min.js' %}"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="{% static 'mutech/js/metisMenu.min.js' %}"></script>
    <!-- Custom Theme JavaScript -->
    <script src="{% static 'mutech/js/sb-admin-2.js' %}"></script>




<div>{% include "mutech/footer.html" %}</div>
</body>
</html>




