{% load staticfiles %}
<div>{% include "mutech/header.html" %}</div>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

<style type="text/css">
	 .slidebar_a, .slidebar_a:hover, .slidebar_a:focus, .slidebar_a:active, .slidebar_a:active 
		 	{
		    background-color: white ;
 		    color:#337AB7;
		  	}
		 #project_dropdown_col
		 	{
		    background-color:white;
		  	}	 
		.midDiv_project
		  	{
			min-height:580px;
			padding-top:  8.2%;
			}

</style>
 <link href="{% static 'mutech/css/project_dropdown_menu2.css' %}" rel="stylesheet">
    <link href="{% static 'mutech/css/project_dropdown_menu1.css' %}" rel="stylesheet">
<body>

    <div id="wrapper" class="midDiv_project"s>

        <!-- Navigation -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
            </div>
            <div class="navbar-default sidebar" role="navigation" >
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        
                        <li>
                            <a href="index.html" class="slidebar_a"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="#" class="slidebar_a"><i class="fa fa-bar-chart-o fa-fw"></i> Charts<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="flot.html" class="slidebar_a">Flot Charts</a>
                                </li>
                                <li>
                                    <a href="morris.html" class="slidebar_a">Morris.js Charts</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="tables.html" class="slidebar_a"><i class="fa fa-table fa-fw"></i> Tables</a>
                        </li>
                        <li>
                            <a href="forms.html" class="slidebar_a"><i class="fa fa-edit fa-fw"></i> Forms</a>
                        </li>
                        <li>
                            <a href="#" class="slidebar_a"><i class="fa fa-wrench fa-fw"></i> UI Elements<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="panels-wells.html" class="slidebar_a">Panels and Wells</a>
                                </li>
                                <li>
                                    <a href="buttons.html" class="slidebar_a">Buttons</a>
                                </li>
                                <li>
                                    <a href="notifications.html" class="slidebar_a">Notifications</a>
                                </li>
                                <li>
                                    <a href="typography.html" class="slidebar_a"> Typography</a>
                                </li>
                                <li>
                                    <a href="icons.html" class="slidebar_a"> Icons</a>
                                </li>
                                <li>
                                    <a href="grid.html" class="slidebar_a">Grid</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                      
                       
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <div class="row">

            </div>
            <!-- /.row -->
            <div class="row" style="background-color:#AEAEAE;">
                <div class="col-lg-3 col-md-6">
                    




<div class="container" >
  <div class="row">
    <h2>Projects on topic</h2>
    <div class="row" style="width:88%">
      <div class="col-sm-4 col-6"><a href="#" title="Image 1" data-toggle="modal" data-target="#myModal"><img src="//placehold.it/600x350" class="thumbnail img-responsive"></a></div>
      <div class="col-sm-4 col-6"><a href="#" title="Image 2"><img src="//placehold.it/600x350/2255EE" class="thumbnail img-responsive"></a></div>
      <div class="col-sm-4 col-6"><a href="#" title="Image 3"><img src="//placehold.it/600x350/449955/FFF" class="thumbnail img-responsive"></a></div>
      <div class="col-sm-4 col-6"><a href="#" title="Image 4"><img src="//placehold.it/600x350/992233" class="thumbnail img-responsive"></a></div>
      <div class="col-sm-4 col-6"><a href="#" title="Image 5"><img src="//placehold.it/600x350/2255EE" class="thumbnail img-responsive"></a></div>
      <div class="col-sm-4 col-6"><a href="#" title="Image 6"><img src="//placehold.it/600x350/449955/FFF" class="thumbnail img-responsive"></a></div>
      <div class="col-sm-4 col-6"><a href="#" title="Image 8"><img src="//placehold.it/600x350/777" class="thumbnail img-responsive"></a></div>
      <div class="col-sm-4 col-6"><a href="#" title="Image 9"><img src="//placehold.it/600x350/992233" class="thumbnail img-responsive"></a></div>
      <div class="col-sm-4 col-6"><a href="#" title="Image 10"><img src="//placehold.it/600x350/EEE" class="thumbnail img-responsive"></a></div>
      <div class="col-sm-4 col-6"><a href="#" title="Image 11"><img src="//placehold.it/600x350/449955/FFF" class="thumbnail img-responsive"></a></div>
      <div class="col-sm-4 col-6"><a href="#" title="Image 12"><img src="//placehold.it/600x350/DDD" class="thumbnail img-responsive"></a></div>
      <div class="col-sm-4 col-6"><a href="#" title="Image 13"><img src="//placehold.it/600x350/992233" class="thumbnail img-responsive"></a></div>
      <div class="col-sm-4 col-6"><a href="#" title="Image 13"><img src="//placehold.it/600x350/992233" class="thumbnail img-responsive"></a></div>

    </div>
  </div>
</div>
<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
  <div class="modal-content">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">×</button>
		<h3 class="modal-title">Heading</h3>
	</div>
	<div class="modal-body">
		
	</div>
	<div class="modal-footer">
		<button class="btn btn-default" data-dismiss="modal">Close</button>
	</div>
   </div>
  </div>
</div>





                </div>
           
            </div>
           
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

     <!-- jQuery -->
    <script src="{% static 'mutech/js/jquery.min.js' %}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'mutech/js/bootstrap.min.js' %}"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="{% static 'mutech/js/metisMenu.min.js' %}"></script>
    <!-- Custom Theme JavaScript -->
    <script src="{% static 'mutech/js/sb-admin-2.js' %}"></script>




<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        rahul-shiv
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

</body>

</html>


</div>
<div>{% include "mutech/footer.html" %}</div>