{% load staticfiles %}<!-- project.objects.filter(project_branch=3)-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Projects</title>
    <link href="{% static 'mutech/css/project_dropdown_menu2.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'mutech/css/project_dropdown_menu1.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'mutech/css/agency.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'bootstrap_template/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'mutech/style.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'bootstrap_template/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'bootstrap_template/css/freelancer.css' %}" rel="stylesheet" type="text/css">
    <style type="text/css">
        .sidebar ul li {
            border-bottom: 1px solid #e7e7e7;
            border-right: 1px solid #e7e7e7;
            width:89.5%; 
        }
        .slidebar_a, .slidebar_a:hover, .slidebar_a:focus, .slidebar_a:active, .slidebar_a:active {
            background-color: white ;
            color:#337AB7;
        }
        #project_dropdown_col {
            background-color:white;
        }    
        .midDiv_project {
            min-height:580px;
            padding-top:  6%;
        }
    </style>
</head> 
<body>
    <div>{% include "mutech/header.html" %}</div>
    
    <div id="wrapper" class="midDiv_project">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <!-- Navigation start -->
        <div class="row" style="background-color:#AEAEAE;">
            <div class="col-md-3" style="background-color:hsl(0, 0%, 97%); min-height:750px; width:18%; border-right:2px solid #e7e7e7;">
                <div class="navbar-default sidebar" role="navigation" style=" margin-top:5%; background-color:#AEAEAE;">
                    <div class="sidebar-nav navbar-collapse" >
                        <ul class="nav" id="side-menu">
                            <li>
                                <a href="/mutech/project/" class="slidebar_a" style="color:hsl(208, 56%, 46%)"> All Projects</a>
                            </li>
                            {% if branch_list %}<!-- Sidebar start -->
                                {% for q in branch_list %}
                                    <li>
                                        <a href="#" class="slidebar_a"><i class="fa fa-table fa-fw"></i> {{ q.branch_title }}    
                                            <span class="fa arrow"></span>
                                        </a> 
                                        <ul class="nav nav-second-level">
                                            {% for p1 in subbranch_list %}
                                                {% if q.id == p1.parentbranch_id  %}
                                                    <li><a href="/mutech/{{ q.id }}/" class="slidebar_a">{{ p1.subbranch_title }}</a></li>
                                                {% endif %} 
                                            {% endfor %}                
                                        </ul>
     
                                    </li>
                                {% endfor %}  
                            {% endif %}     
                        </ul>
                    </div> <!-- /.sidebar-collapse -->
                </div> <!-- /.navbar-static-side -->
            </div><!-- sidebar End-->

            <div class="col-md-9" style="float:right; padding-left:0px;" >
                    <div class="row" style="margin-left:-8%;">
                        <h2 align="center" style="margin-bottom:4%">Projects</h2>
                            {% if branchId %}
                                {% for q in branchId.project_set.all %}
                                    <div class="col-md-4 col-sm-12">
                                        <section id="portfolio" class="bg-light-gray" style="padding:0px;">           
                                            <div class="col-md-12 col-sm-12 portfolio-item">
                                                <a href="#{{ q.id }}" class="portfolio-link" data-toggle="modal" >
                                                    <div class="portfolio-hover">
                                                        <div class="portfolio-hover-content">
                                                            <i class="fa fa-plus fa-3x"></i>
                                                        </div>
                                                    </div>
                                                    <img src="../../../media/{{q.project_image}}" class="img-responsive" alt="" style="width:100%;height:160px">
                                                </a>
                                                <div class="portfolio-caption">
                                                    <h4>{{ q.project_title }}</h4>
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                {% endfor %}
                            {% else %}
                                {% if project_list %}
                                    {% for q in project_list %}
                                        <div class="col-md-4 col-sm-12">
                                            <section id="portfolio" class="bg-light-gray" style="padding-top:0px">           
                                                <div class="col-md-12 col-sm-12 portfolio-item">
                                                    <a href="#{{ q.id }}" class="portfolio-link" data-toggle="modal" >
                                                        <div class="portfolio-hover">
                                                            <div class="portfolio-hover-content">
                                                                <i class="fa fa-plus fa-3x"></i>
                                                            </div>
                                                        </div>
                                                        <img src="../../../media/{{q.project_image}}" class="img-responsive" alt="" style="width:100%;height:160px">
                                                    </a>
                                                    <div class="portfolio-caption">
                                                        <h4>{{ q.project_title }}</h4>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <p>No Project Found</p>
                                {% endif %}               
                            {% endif %}
                        </div><!-- end of row-->
                </div>
            </div>
        </div><!-- end of middiv -->

<!-- Modal content starts  -->
    {% if project_list %}
        {% for q in project_list %}
            <!-- Modal-->
            <div class="portfolio-modal modal fade" id="{{ q.id }}" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-content">
                    <div class="close-modal" data-dismiss="modal">
                        <div class="lr">
                            <div class="rl"></div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <h2>{{ q.project_title }}</h2>
                        </div>
                        <div class="row" style="margin-top:2%">
                            <div class="col-lg-6 col-sm-6 col-lg-offset-">
                                <div class="modal-body">
                                    <img class="img-responsive img-centered" src="../../../media/{{q.project_image}}" alt="Project image" style="width:80%; height:80%">
                                </div>
                            </div>
                            <div class="col-lg-2 col-sm-2 "></div>
                            <div class="col-lg-4 col-sm-4 col-lg-offset-" style="border:1px solid transparent;">
                                <div style="border:1px solid black; height:400px;width:250px; border-top-left-radius:0.8em; border-top-right-radius:0.8em; padding:0% 0% 0% 0%;margin:0% 0% 0% 0%">
                                    <p class="text-uppercase"  style="text-align:center;background-color:hsl(210, 29%, 24%);color:white;font-size:16px; width:100% ; height:10%;  border-top-left-radius:0.5em;  border-top-right-radius:0.5em; padding-top:4%;"><b>Details</b></p>
                                    <span style="text-align:center; padding:10%">
                                        <p>Model No:&nbsp;{{ q.id }}</p>
                                        <hr><p>Duration:&nbsp;{{ q.project_duration }}</p>
                                        <hr><p>Price:&nbsp;{{ q.project_price }}</p><hr><br><br>
                                        <a href="/mutech/contact/"><button  type="button" class="btn btn-primary" style="background-color:hsl(208, 56%, 46%); color:white;">Apply for project</button></a>
                                    </span>    
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <p style="text-align:justify">{{ q.project_desc }}</p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal">
                                <i class="fa fa-times"></i> Close 
                            </button>
                            <a class="btn btn-primary" href="{{ q.project_pdf_link }}" target="_blank"><i class="fa fa-download"></i> Download PDF </a>
                        </div>
                    </div><!-- end of container-->
                </div><!-- modal content-->
            </div><!-- end of modal-->
        {% endfor %} 
    {% endif %}
    <div>{% include "mutech/footer.html" %}</div>
    <!-- jQuery -->
    <script src="{% static 'mutech/js/jquery.min.js' %}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'mutech/js/bootstrap.min.js' %}"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="{% static 'mutech/js/metisMenu.min.js' %}"></script>
    <!-- Custom Theme JavaScript -->
    <script src="{% static 'mutech/js/sb-admin-2.js' %}"></script>

</body>
</html>