{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Training</title>
    <div>{% include "mutech/header.html" %}</div>
    <link href="{% static 'mutech/css/agency.css' %}" rel="stylesheet">
    <link href="{%static 'mutech/modern-business.css' %}" rel="stylesheet">
    <style type="text/css">
        #image-modal-outer:hover{
                position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(254,209,54,.9);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
        }
     </style>
</head>
<body>
  <div class="midDiv">
    <div class="container">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button> 




        {% if training_list %}
            {% for q in training_list %}
         <!-- Portfolio Grid Section -->
         <div class="col-md-4 col-sm-12">
    <section id="portfolio" class="bg-light-gray">
        
        
                
                <div class="col-md-12 col-sm-12 portfolio-item">
                    <a href="#{{ q.training_title }}" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="../../../media/{{q.training_image}}" class="img-responsive" alt="" width="100%" height="100%">
                    </a>
                    <div class="portfolio-caption">
                        <h4>{{ q.training_title }}</h4>
                    </div>
                </div>
                
                
            </div>
       
    </section>
    {% endfor %}
           
        {% else %}
        <center><h1>No Training Found </h1></center>  
        {% endif %}

  </div>
    <!-- /.container -->
    
</div><!-- midDiv ends -->



<div>{% include "mutech/footer.html" %}</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript">
    console.log("yes");
    $(document).ready(function(){
        var a = document.getElementById('vertical_nav').getElementsByTagName('a');
        for(i = 0; i<10; i++)
            alert(a[i]);
        
       })
        
</script>   

    



{% if training_list %}
            {% for q in training_list %}
    <!-- Portfolio Modal 1 -->
    <div class="portfolio-modal modal fade" id="{{ q.training_title }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>{{ q.training_title }}</h2>
                            
                            <img class="img-responsive img-centered" src="../../../media/{{q.training_image}}" alt="">
                            <p>{{ q.training_desc }}</p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

      {% endfor %} 
        {% endif %}




</body>
</html>