{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Training</title>
    <link href="{% static 'mutech/css/agency.css' %}" rel="stylesheet">
    <link href="{%static 'mutech/modern-business.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap_template/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'mutech/style.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'bootstrap_template/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'bootstrap_template/css/freelancer.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
    <div>{% include "mutech/header.html" %}</div>
    <div class="midDiv">
        <div class="container">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <div class="row" style="padding-bottom:5%;">
                <div class="col-md-1"></div>
            
                <div class="col-md-10 col-sm-10"  id="BothNewsArticle_div" style=" padding:0px; ">
                        <div class="col-md-12 text-uppercase" id="news_div" style="">
                            <h5 style="font-size:16px;margin-left: 5%; ">Training & Workshop Cources </h5>
                        </div>
                        <div style="padding:5% 0% 0%  10%;">
                                {% if training_list %}
                                    {% for q in training_list %}
                                        <ul class="list-unstyled">
                                            <a href="#{{ q.id }}" class="portfolio-link" data-toggle="modal" style=" color:hsl(210, 29%, 24%);"> <li>{{ q.training_title }}</li></a>
                                        </ul>
                                    {% endfor %}
                                {% endif %}            
                        </div>
                </div>
            
            <div class="col-md-1"></div>     
        </div><!-- end of news and activities-->

        </div><!-- /.container -->
    </div><!-- midDiv ends -->   


<!-- Modal content starts  -->

{% if training_list %}
    {% for q in training_list %}
        <!-- Portfolio Modal 1 -->
        <div class="portfolio-modal modal fade" id="{{ q.id }}" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl"></div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <h2>{{ q.training_title }}</h2>
                    </div>
                    <div class="row">
                        <p style="text-align:justify">{{ q.training_desc }}</p>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">
                            <i class="fa fa-times"></i> Close 
                        </button>
                        <a class="btn btn-primary" href="{{ q.training_pdf_link }}" target="_blank"><i class="fa fa-download"></i> Download PDF </a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %} 
{% endif %}
<!-- end of the modal-->

<div>{% include "mutech/footer.html" %}</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript">
    console.log("yes");
    $(document).ready(function(){
        var a = document.getElementById('vertical_nav').getElementsByTagName('a');
        for(i = 0; i<10; i++)
            alert(a[i]);
       })
</script>
<script src="{% static 'mutech/js/jquery.min.js' %}"></script>
<script src="{% static 'mutech/js/bootstrap.min.js' %}"></script>
</body>
</html>