<<<<<<< HEAD

.midDiv {
        background-color:#AEAEAE;
         min-height:580px;
         padding-top:  8.2%;
        }
=======
.midDiv {
        background-color:#AEAEAE;
		 min-height:580px;
		 padding-top:  8.2%;
        }

>>>>>>> 23ae214a3a943e6d6683473c131c12c3e1524ab7
